html {
    scroll-behavior:smooth;
}
body {
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    height: 657px;
    width: 100%;
    margin: 0;
    background-size: cover;
}
#container {
    color: silver;
}
.intro {
    font-family: 'Kurale', serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    color: silver;
}
#title {
    text-align: center;
    color: silver;
    font-size: 25px;
    font-family: 'Kurale', serif;
    margin-top: 10px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border: 1px solid black;
    background-color: black;
    box-shadow: 0 10px 10px 0 black;
    border-radius: 20px;
}
.frame {
    height: 200px;
    width: 200px;
    border: 3px solid silver;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 grey
}
.dp {
    height: 200px;
    width: 200px;
}
#container {
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Kurale', serif;
    background-color: #4834d4;
    background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);
}
#head1 {
    font-size: 60px;
    margin-left: 10px;
    width: fit-content;
    height: fit-content;
    color: goldenrod;
    font-family: 'Philosopher', sans-serif;
}
#head2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 200px;
    text-align: center;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    column-gap: 45px;
}
.aca:hover{
    font-size: 25px;
    transition-duration: 350ms;
    transition-delay: 100ms;
}
.cert:hover{
    font-size: 25px;
    transition-duration: 350ms;
    transition-delay: 100ms;
}
.con:hover{
    font-size: 25px;
    transition-duration: 350ms;
    transition-delay: 100ms;
}
.pos:hover{
    font-size: 25px;
    transition-duration: 350ms;
    transition-delay: 100ms;
}
.tec:hover{
    font-size: 25px;
    transition-duration: 350ms;
    transition-delay: 100ms;
}
#academic {
    border: 1px solid black;
    height: fit-content;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    box-shadow: 0 15px 15px 0 black;
    border-radius: 20px;
}
.deg{
    height: 70px;
    width: 500px;
    border: 1px solid black;
    background-color: black;
    color: silver;
    border: 1px solid silver;
    margin-top: 15px;
    margin-left: 50px;
    line-height: 30px;
}
.X{
    height: 70px;
    width: 500px;
    border: 1px solid black;
    margin-top: 15px;
    background-color: black;
    color: silver;
    border: 1px solid silver;
    margin-left: 50px;
    margin-bottom: 20px;
    line-height: 30px;
}
.XII{
    height: 70px;
    width: 700px;
    border: 1px solid black;
    margin-top: 15px;
    margin-left: 50px;
    background-color: black;
    color: silver;
    border: 1px solid silver;
    line-height: 30px;
}

li {
  text-align: center;
  list-style: none;
  font-family: 'Kurale', serif;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.deg:hover {
    background-color: #cdc1ff;
    background-image: linear-gradient(316deg, #cdc1ff 0%, #e5d9f2 74%);
    color: black;
    width: 800px;
    transition-duration: 350ms;
    transition-delay: 100ms;
}
.X:hover{
    background-color: #cdc1ff;
    background-image: linear-gradient(316deg, #cdc1ff 0%, #e5d9f2 74%);
    color: black;
    width: 800px;
    transition-duration: 350ms;
    transition-delay: 100ms;
}
.XII:hover{
    background-color: #cdc1ff;
    background-image: linear-gradient(316deg, #cdc1ff 0%, #e5d9f2 74%);
    width: 800px;
    transition-duration: 350ms;
    transition-delay: 100ms;
    color: #000000;
}
#certs {
    height: 150px;
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 15px 15px 0 black;
}
#img_container{
    border: 1px solid black;
    height: 350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    display: grid;
    grid-template-columns: auto auto auto;
    box-shadow: 0 15px 15px 0 black;
    border-radius: 20px;

}
#certs:hover {
    height: 350px;
    width: 450px;
    transition-duration: 550ms;
    transition-delay: 100ms;
}
#tech_skill_container {
    border: 1px solid black;
    height: 500px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    box-shadow: 0 15px 15px 0 black;
    border-radius: 20px;
}
#tskill {
    height: 120px;
    margin-top: auto;
    margin-bottom: auto;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}
#tskill:hover {
    box-shadow: 0 10px 10px 0 silver;
    transition-duration: 100ms;
}
#text {
    color: silver;
    text-align: center;
    font-family: 'Kurale', serif;
    font-size: 20px;
    margin-top: 0;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
    color: silver;
}
.breakline {
    margin-top: 30px;
}
#pro_container {
    height: 300px;
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    border-radius: 20px;
}
#pro {
    height: 200px;
    width: 200px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    border: 1px solid silver;
    background-color: #deebdd;
    background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
    box-shadow: 0 12px 12px 0 black;
    color: black;
    font-family: 'Kurale', serif;
    text-align: center;
    font-size: 20px;

}
#pro:hover {
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    transition-duration: 1000ms;
    color: silver;
}
#pro_text {
    margin-top: 80px;
}
#end {
    text-align: center;
    font-size: 20px;
    font-family: 'Kurale', serif;
    line-height: 10px;
    background-color: #4834d4;
    background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    color: silver;
}
.rock {
    height: 50px;
    width: 50px;
    margin-left: 90%;
}
#tit {
    font-size: 25px;
    height: fit-content;
    font-family: 'Philosopher', sans-serif;
    margin-top: 25px;
    color: silver;
    background-color: #166d3b;
    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
@media (max-width: 370px) {
  body {
      background-color: #fbb034;
      background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
      margin: 0;
      background-size: cover;
  }
  .intro {
      font-family: 'Kurale', serif;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 12px;
      color: silver;
  }
  #title {
      text-align: center;
      color: silver;
      font-size: 25px;
      font-family: 'Kurale', serif;
      margin-top: 10px;
      height: 420px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      border: 1px solid black;
      background-color: black;
      box-shadow: 0 10px 10px 0 black;
      border-radius: 20px;
  }
  .frame {
      height: 150px;
      width: 150px;
      border: 2px solid silver;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 3px 3px 0 grey
  }
  .dp {
      height: 150px;
      width: 150px;
  }
  #container {
      font-family: 'Kurale', serif;
      background-color: #4834d4;
      background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);
      height: 40px;
      box-shadow: 0 10px 10px 0 black;
  }
  #head1 {
      font-size: 17px;
      margin-left: 0;
      margin-top: auto;
      margin-bottom: auto;
  }
  #head2 {
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 5px;
      text-align: center;
      font-size: 10px;
      height: fit-content;
      width: fit-content;
      column-gap: 5px;

  }
  .aca:hover{
      font-size: 12px;
  }
  .cert:hover{
      font-size: 12px;
  }
  .con:hover{
      font-size: 12px;
  }
  .pos:hover{
      font-size: 12px;
  }
  .tec:hover{
      font-size: 12px;
  }
  #academic {
      height: 400px;
      width: 80%;
      overflow: hidden;
      overflow-y: scroll;
  }
  .X{
    width: 70%;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    height: 100px;
    line-height: 25px;
  }
  .XII{
    width: 70%;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    height: 100px;
    line-height: 25px;
  }
.deg {
    width: 70%;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    height: 100px;
    line-height: 23px;
}
  .X:hover{
      width: 73%;
  }
  .XII:hover{
    width: 73%;
  }
  .deg:hover {
    width: 73%;
  }
  #certs {
      height: 100px;
      width: 100px;
  }
  #img_container{
      height: 350px;
      display: grid;
      grid-template-columns: auto auto;
  }
  #certs:hover {
      height: 250px;
      width: 250px;
  }
  #tech_skill_container {
      border: 1px solid black;
      height: 300px;
  }
  #tskill {
      height: 80px;
      margin-top: auto;
      margin-bottom: auto;
      width: 80px;
      margin-left: auto;
      margin-right: auto;
  }
  #text {
      font-size: 10px;
  }
  a {
      text-decoration: none;
      color: silver;
  }
  #pro_container {
      height: 150px;
      border: 1px solid black;
      width: 100%;
      box-shadow: 0 10px 10px 0 black;
  }
  #pro {
      height: 100px;
      width: 100px;
      font-size: 20px;

  }
  #pro_text {
      margin-top: 25px;
      font-size: 15px;
  }
  #end {

      font-size: 11px;
      line-height: 8px;
      height: 60px;
      width: 100%;
      box-shadow: 0 10px 10px 0 black;
  }
  .rock {
      height: 50px;
      width: 50px;
      margin-left: 90%;
  }
  #tit {
      font-size: 18px;
      margin-top: 15px;
      width: 180px;
  }
}
